# EP-RSF, a < b shear-band localization; phi0 = 30 degrees, psi = 0.
[sim]
modelname = output/ep_rsf_weakening_phi30_psi0
max_time_in_yr = 12000
output_time_interval_in_yr = 500
has_output_during_remeshing = no
is_outputting_averaged_fields = no
earthquake_output_step_interval = 1000
info_display_step_interval = 1000000

[mesh]
meshing_option = 1
meshing_elem_shape = 1
xlength = 20000
ylength = 10000
zlength = 10000
resolution = 100
quality_check_step_interval = 1000000
min_quality = 0
smallest_size = 0.0
max_boundary_distortion = 1e30

[control]
gravity = 10
ref_pressure_option = 1
dt_fraction = 1.0
inertial_scaling = 2e5
mass_scaling_reference_speed = shear
damping_option = 1
damping_factor = 0.8
use_global_velocity_scaling = true
surface_process_option = 0
rsf_slip_rate_projection_option = 1
rsf_dtheta_max = 0.2

[bc]
vbc_x0 = 1
vbc_val_x0 = -1.5854896e-10
vbc_x1 = 1
vbc_val_x1 = 1.5854896e-10
vbc_y0 = 1
vbc_y1 = 1
vbc_val_y0 = 0
vbc_val_y1 = 0
vbc_n0 = 1
vbc_val_n0 = 0
has_water_loading = no
surface_temperature = 273
mantle_temperature = 273

[ic]
weakzone_option = 2
weakzone_plstrain = 1
weakzone_xcenter = 0.50000
weakzone_zcenter = 0.95000
weakzone_xsemi_axis = 500
weakzone_zsemi_axis = 500

[mat]
rheology_type = elasto-plastic-rsf
rho0 = [2700]
alpha = [0]
bulk_modulus = [50e9]
shear_modulus = [30e9]
pls0 = [0]
pls1 = [0.5]
cohesion0 = [3.0e7]
cohesion1 = [1.0e5]
friction_angle0 = [30]
friction_angle1 = [30]
dilation_angle0 = [0]
dilation_angle1 = [0]
min_viscosity = 1e24
state_var_model = 1
direct_a = [0.003]
evolution_b = [0.015]
characteristic_velocity = [1e-9]
characteristic_distance = [0.005]

[monitor]
enabled = yes
output_prefix = output/ep_rsf_weakening_phi30_psi0_monitor
step_interval = 1000
num_points = 3
points_x = [0.1, 10, 19.9]
points_y = [-9.5, -9.5, -9.5]
points_unit = km
write_header = yes
output_coord = yes
output_velocity = yes
output_stress = yes
output_dynamic_friction = yes
output_state_variable = yes
