name: Functional tests

on:
  push:
    branches: [ "master", "bugfix*" ]
    paths-ignore:
      - '**/README.md'
  pull_request:
    branches: [ "master" ]
    paths-ignore:
      - '**/README.md'

jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./tests/functional
    steps:
    - uses: actions/checkout@v3
    - name: get boost and hdf5
      run: |
        echo Install boost-program-options and hdf5 ====================
        sudo apt-get update
        sudo apt-get install -y libboost-program-options-dev libhdf5-serial-dev make pkg-config
    - name: set path for hdf5
      run: |
        HDF5_INCLUDE_DIR=$(pkg-config --cflags hdf5-serial | sed 's/-I//g')
        HDF5_LIB_DIR=$(pkg-config --libs hdf5-serial | tr ' ' '\n' | grep '^-L' | sed 's/^-L//')
        echo "HDF5_INCLUDE_DIR=${HDF5_INCLUDE_DIR}" >> $GITHUB_ENV
        echo "HDF5_LIB_DIR=${HDF5_LIB_DIR}" >> $GITHUB_ENV
  
    - name: make 3d hdf5
      working-directory: .
      run: make -j ndims=3 opt=2 openmp=1 hdf5=1 \
            HDF5_LIB_DIR=$HDF5_LIB_DIR HDF5_INCLUDE_DIR=$HDF5_INCLUDE_DIR

    - name: test 3d evp regular remesh temp-dome
      run: ../../dynearthsol3d 3d-evp-regular.cfg && rm -rf functional-test.*

    - name: make 2d hdf5
      working-directory: .
      run: make -j ndims=2 opt=2 openmp=1 hdf5=1 \
            HDF5_LIB_DIR=$HDF5_LIB_DIR HDF5_INCLUDE_DIR=$HDF5_INCLUDE_DIR

    - name: test 2d ep irregular remesh
      run: ../../dynearthsol2d 2d-ep-irregular.cfg && rm -rf functional-test.*

    - name: make 3d hdf5 opt=-1
      working-directory: .
      run: make cleanall && make -j ndims=3 opt=-1 openmp=1 hdf5=1 \
            HDF5_LIB_DIR=$HDF5_LIB_DIR HDF5_INCLUDE_DIR=$HDF5_INCLUDE_DIR

    - name: test memory leak 3d evp regular remesh temp-dome
      run: ../../dynearthsol3d 3d-evp-regular.cfg && rm -rf functional-test.*
