name: nvc build

on:
  push:
    branches: []
    paths-ignore:
      - '**/README.md'
  pull_request:
    branches: []
    paths-ignore:
      - '**/README.md'
  
jobs:
  build:
    runs-on: self-hosted
    container:
      image: nvcr.io/nvidia/nvhpc:25.7-devel-cuda_multi-ubuntu22.04
    steps:
    - uses: actions/checkout@v3
    - name: get boost and hdf5
      run: |
        apt-get update
        apt-get install -y libboost-program-options-dev libhdf5-serial-dev make pkg-config
    
    - name: set env for nvc++ and hdf5
      run: |
        NVARCH=$(uname -s)_$(uname -m)
        NVHPC_DIR=/opt/nvidia/hpc_sdk/${NVARCH}/25.7
        echo "NVHPC_DIR=${NVHPC_DIR}" >> $GITHUB_ENV
        HDF5_INCLUDE_DIR=$(pkg-config --cflags hdf5-serial | sed 's/-I//g')
        HDF5_LIB_DIR=$(pkg-config --libs hdf5-serial | tr ' ' '\n' | grep '^-L' | sed 's/^-L//')
        echo "HDF5_INCLUDE_DIR=${HDF5_INCLUDE_DIR}" >> $GITHUB_ENV
        echo "HDF5_LIB_DIR=${HDF5_LIB_DIR}" >> $GITHUB_ENV

    - name: make 2d debug CPU with nvidia profiling tools
      run: make cleanall && make ndims=2 nprof=1 hdf5=1 opt=0 \
            NVHPC_DIR=$NVHPC_DIR HDF5_LIB_DIR=$HDF5_LIB_DIR HDF5_INCLUDE_DIR=$HDF5_INCLUDE_DIR

    - name: make 3d debug CPU with nvidia profiling tools
      run: make cleanall && make ndims=3 nprof=1 hdf5=1 opt=0 \
            NVHPC_DIR=$NVHPC_DIR HDF5_LIB_DIR=$HDF5_LIB_DIR HDF5_INCLUDE_DIR=$HDF5_INCLUDE_DIR

    - name: make 2d GPU
      run: make cleanall && make ndims=2 openacc=1 hdf5=1 -j \
            HDF5_LIB_DIR=$HDF5_LIB_DIR HDF5_INCLUDE_DIR=$HDF5_INCLUDE_DIR

    - name: make 3d GPU
      run: make cleanall && make ndims=3 openacc=1 hdf5=1 -j \
            HDF5_LIB_DIR=$HDF5_LIB_DIR HDF5_INCLUDE_DIR=$HDF5_INCLUDE_DIR

    - name: make 2d GPU with nvidia profiling tools
      run: make cleanall && make ndims=2 openacc=1 nprof=1 hdf5=1 -j \
            NVHPC_DIR=$NVHPC_DIR HDF5_LIB_DIR=$HDF5_LIB_DIR HDF5_INCLUDE_DIR=$HDF5_INCLUDE_DIR

    - name: make 3d GPU with nvidia profiling tools
      run: make cleanall && make ndims=3 openacc=1 nprof=1 hdf5=1 -j \
            NVHPC_DIR=$NVHPC_DIR HDF5_LIB_DIR=$HDF5_LIB_DIR HDF5_INCLUDE_DIR=$HDF5_INCLUDE_DIR

      
